[submodule "themes/enchanted-lowkey"]
	path = themes/enchanted-lowkey
	url = https://github.com/nixentric/Lowkey-Hugo-Theme.git
[submodule "themes/Lowkey"]
	path = themes/Lowkey
	url = https://github.com/panr/hugo-theme-terminal.git
[submodule "themes/freshpink"]
	path = themes/freshpink
	url = https://github.com/DayneLalmond/my-blog.git
